{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>SIGN UP / REGISTER</title>
{% endblock %}

{% block heading %}
<link rel="stylesheet" href="{% static '../static/style.css' %}">
{% endblock %}

{% block content %}
<div class="container" style="background: rgba(255,255,255,0.08);
backdrop-filter: blur(6px);
border: 1px solid rgba(255,255,255,0.2);
padding: 20px;
">
    <h1 style="color: white;"><u>
            <center>Sign Up / Register</center>
        </u></h1>
    <form method="post">
        {% csrf_token %}
        {{form | crispy}}
        <button type="submit" class="btn btn-outline-light col-5">SIGN UP</button>
        <a href="{% url 'Sign_In' %}"><button type="button" class="btn btn-outline-light col-5 float-end">SIGN
                IN</button></a>
    </form>
</div>
{% endblock %}